<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Budget Name Page</title>
    <br> <a href="/budgets">Back</a>
</head>
<body>
    <h1> Budget show page</h1>

<h1> 
    <b> date </b> <br> 
    <%= budget.date %>   </h1>
<h1> 
    <b> name </b> <br> 
    <%= budget.name %>   </h1>
<h1> 
    <b> amount </b> <br> 
    <%= budget.amount %>   </h1>
<h1> 
    <b> from </b> <br> 
    <%= budget.from %>   </h1>
<!-- These are EJS tags -->
<!-- Use equal signs when accessing a single value to display -->

<!-- this a tag sends us back to our index page using the route that is in our server -->


    
</body>
</html>